body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

#game {
    border-collapse: collapse;
    margin: 20px auto;
    width: 300px;
    height: 300px;
}

#game td {
    border: 2px solid black; /* Границы клеток */
    width: 100px;           /* Размер клетки */
    height: 100px;          /* Размер клетки */
    text-align: center;     /* Центровка текста */
    font-size: 24px;        /* Размер текста */
    font-weight: bold;      /* Жирный текст */
    cursor: pointer;        /* Указатель при наведении */
}

#game td:hover {
    background-color: #f0f0f0; /* Подсветка при наведении */
}

#winner {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-top: 10px; /* Отступ вверх от таблицы */
}

.cell {
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
}

/* Анимация для победных ячеек */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.animate {
    animation: pulse 0.5s infinite alternate;
}

#restart-button {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#restart-button:hover {
    background-color: gainsboro;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

